{% extends 'Simple/Simple_base.html' %}
{% block title_block %}
  Change | Simple
{% endblock %}
{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
  <li class="breadcrumb-item"><a href="{% url 'Simple:home' %}">Simple</a></li>
  <li class="breadcrumb-item active" aria-current="page">Change</li>
{% endblock %}
{% block active3 %}active{% endblock %}
{% block body_block %}
  <h1 class="text-center">Welcome to Change!</h1>
    <p class="text-justify">
      This mini-app acts as a virtual grocery-store cash register, instructing
      in the simplest exact change to be returned during a business transaction.
    </p>
  <h3 class="text-center">Give Change a try!</h3><br>

  <form method="POST" action="{% url 'Simple:change_machine' %}">
    {% for error in change_form.non_field_errors %}
      <h6 class="form-error">{{ error }}</h6>
    {% endfor %}
    {% csrf_token %}
      <div class="row">
        <div class="form-group col-md-6">
          {{ change_form.item_cost.errors }}
          {{ change_form.item_cost.label }}
          {{ change_form.item_cost }}
        </div>
        <div class="form-group col-md-6">
          {{ change_form.amount_paid.errors }}
          {{ change_form.amount_paid.label }}
          {{ change_form.amount_paid }}

        </div>
      </div>
      <input class="btn btn-lg btn-primary green" type="submit" name="count" value="Calculate change" />
  </form>

  {% if change_list %}
    <h2>Excellent purchase!</h2>
    <h5>Your change will be ${{ change_amount }}</h5>
    <h5>in the form of {{ bills_statement }} bill{{ bills_statement|pluralize }}
    and {{ coins_statement }} coin{{ coins_statement|pluralize }}.</h5>
    <h4>Exact change:</h4>
    <ul class="change-list">
    {% for item in change_list %}
      {% if item.1 == "penn" %}
        <li>{{ item.0 }} {{ item.1 }}{{ item.0|pluralize:"y,ies" }}</li>
      {% else %}
        <li>{{ item.0 }} {{ item.1 }}{{ item.0|pluralize }}</li>
      {% endif %}

    {% endfor %}
    </ul>

  {% endif %}
  {% if exact_change %}
    <h2>Excellent purchase!</h2>
    <h5>You paid the exact cost of your item, no change to give!</h5>
  {% endif %}

{% endblock %}