{% extends 'Simple/Simple_base.html' %}
{% block title_block %}
  Simple Home
{% endblock %}
{% block body_block %}
  <div class="title-section">
    <h1>Simple Apps</h1>
    <p class="p-large">
      Here you will find a series of mini-apps I created, that perform some
      simple, fun tasks.
    </p>
  </div>

  <div class="body-section">
    <h3>Vigenère:</h3>
    <p>
      This mini-app uses the
      <a class="link-target" href="https://en.wikipedia.org/wiki/Vigenère_cipher"
         target="_blank">Vigenère cipher</a>, a simple, fun cipher invented in
      the 16th century, to encrypt your message based off of a key word
      or phrase. It can then decrypt your word given the same key.
    </p>

    <h3>FizzBuzz:</h3>
    <p>
      This mini-app is a slight expansion on the classic kids game,
      <a class="link-target" href="https://en.wikipedia.org/wiki/Fizz_buzz"
         target="_blank">Fizz Buzz</a>, where you can input some name values
      (ie. Fizz, Buzz, Foo, etc.) to replace numbers at certain multiples.
    </p>

    <h3>Change:</h3>
    <p>
      This mini-app acts as a virtual grocery-store cash register, instructing
      in the simplest exact change to be returned during a business transaction.
    </p>
    </div>



{% endblock %}