{% extends 'Simple/Simple_base.html' %}
{% block title_block %}
  Home | Simple
{% endblock %}
{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
  <li class="breadcrumb-item active" aria-current="page">Simple</li>
{% endblock %}
{% block body_block %}
  <div class="title-section">
    <br>
    <h1 class="text-center">Simple Apps</h1>
    <p class="text-justify">
      Here you will find a series of mini-apps I created that perform some
      simple, fun tasks. These were little ideas I created for classes or
      thought up and thought "That would be fun or useful in some context"
      and then spent a couple hours writing them up.
    </p>
    <p class="text-justify">
      Additionally, these were the first "apps" I wrote for this Django
      website, and since they were conceptually simple to create and implement,
      they helped me figure out some of the mechanics of the app which can be
      difficult to wrap one's head around when learning for the first time,
      like how to make requests, work with forms, and other seemingly
      trivial tasks that take longer than you'd like when learning something
      new.
    </p>
  </div>
  <br>
  <div class="body-section">
    <h3 class="text-center">
      <a class="nav-link" href="{% url 'Simple:vigenere' %}">Vigenère</a>
    </h3>
    <p class="text-justify">
      This mini-app uses the
      <a class="link-target" href="https://en.wikipedia.org/wiki/Vigenère_cipher"
         target="_blank">Vigenère cipher</a>, a simple, fun cipher invented in
      the 16th century, to encrypt your message based off of a key word
      or phrase. It can then decrypt your word given the same key.
    </p>

    <h3 class="text-center">
      <a class="nav-link" href="{% url 'Simple:fizzbuzz' %}">FizzBuzz</a>
    </h3>
    <p class="text-justify">
      This mini-app is a slight expansion on the classic kids game,
      <a class="link-target" href="https://en.wikipedia.org/wiki/Fizz_buzz"
         target="_blank">Fizz Buzz</a>, where you can input some name values
      (ie. Fizz, Buzz, Foo, etc.) to replace numbers at certain multiples.
    </p>

    <h3 class="text-center">
      <a class="nav-link" href="{% url 'Simple:change_machine' %}">Change</a>
    </h3>
    <p class="text-justify">
      This mini-app acts as a virtual grocery-store cash register, instructing
      in the simplest exact change to be returned during a business transaction.
    </p>
    </div>



{% endblock %}