{% extends "base.html" %}
{% block inner_navbar %}
    <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-md-auto">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'Simple:index' %}">Descriptions</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'Simple:vigenere' %}">Vigenère</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'Simple:fizzbuzz' %}">FizzBuzz</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Change</a>
      </li>
    </ul>
  </div>
{% endblock %}