{% extends 'Simple/Simple_base.html' %}
{% block title_block %}
  Home | Simple
{% endblock %}
{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
  <li class="breadcrumb-item active" aria-current="page">Simple</li>
{% endblock %}
{% block body_block %}
  <div class="title-section">
    <h1 class="text-center">Simple Apps</h1>
    <p class="p-large">
      Here you will find a series of mini-apps I created, that perform some
      simple, fun tasks.
    </p>
  </div>
  <br>
  <div class="body-section">
    <h3 class="text-center">Vigenère</h3>
    <p class="text-justify">
      This mini-app uses the
      <a class="link-target" href="https://en.wikipedia.org/wiki/Vigenère_cipher"
         target="_blank">Vigenère cipher</a>, a simple, fun cipher invented in
      the 16th century, to encrypt your message based off of a key word
      or phrase. It can then decrypt your word given the same key.
    </p>

    <h3 class="text-center">FizzBuzz</h3>
    <p class="text-justify">
      This mini-app is a slight expansion on the classic kids game,
      <a class="link-target" href="https://en.wikipedia.org/wiki/Fizz_buzz"
         target="_blank">Fizz Buzz</a>, where you can input some name values
      (ie. Fizz, Buzz, Foo, etc.) to replace numbers at certain multiples.
    </p>

    <h3 class="text-center">Change</h3>
    <p class="text-justify">
      This mini-app acts as a virtual grocery-store cash register, instructing
      in the simplest exact change to be returned during a business transaction.
    </p>
    </div>



{% endblock %}