{% extends 'Simple/Simple_base.html' %}
{% block title_block %}
  Vigenere
{% endblock %}
{% block body_block %}
    {% if encryption %}
    <br><h1>Encrypted text:</h1>
    <h2>{{ encrypted_text }}</h2><br>
  {% elif decryption %}
    <br><h1>Decrypted text:</h1>
    <h2>{{ decrypted_text }}</h2><br>
  {% else %}
    <br><h1>Let's Encrypt a message!</h1><br>
  {% endif %}


  {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

  <form method="POST" action="{% url 'Simple:vigenere' %}">
    {% csrf_token %}
    <div class="form-group">
      {{ vigenere_form.as_p }}
      <br>
      <input type="submit" name="encrypt" value="Encrypt" />
      <input type="submit" name="decrypt" value="Decrypt" />
    </div>
  </form>

{% endblock %}