{% extends 'Simple/Simple_base.html' %}
{% block title_block %}
  Vigenere | Simple
{% endblock %}
{% block body_block %}
  <h1>Welcome to the Vigenere Cipher!</h1>
    <p>
      This mini-app uses the
      <a class="link-target" href="https://en.wikipedia.org/wiki/Vigenère_cipher"
         target="_blank">Vigenère cipher</a>, a simple, fun cipher invented in
      the 16th century, to encrypt your message based off of a key word
      or phrase. It can then decrypt your word given the same key.
    </p>
  {% if cipher_key and encrypted_text %}
    <h3>Cipher key used:</h3>
    <h6 class="vigenere-key">{{ cipher_key }}</h6><br>
    <h3>Encrypted text:</h3>
    <p class="vigenere-text">{{ encrypted_text }}</p><br>
    <h5>Try encrypting or decrypting a new message!</h5><br>
  {% elif cipher_key and decrypted_text %}
    <h3>Cipher key used:</h3>
    <h6 class="vigenere-key">{{ cipher_key }}</h6><br>
    <h3>Decrypted text:</h3>
    <p class="vigenere-text">{{ decrypted_text }}</p><br>
    <h5>Try encrypting or decrypting a new message!</h5><br>
  {% else %}
    <br><h5>Let's play with ciphers!</h5><br>
  {% endif %}

  {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

  <form method="POST" action="{% url 'Simple:vigenere' %}">
    {% csrf_token %}
    <div class="form-group">
      {{ vigenere_form.as_p }}
      <input class="encrypt-btn btn btn-default" type="submit" name="encrypt" value="Encrypt" />
      <input class="decrypt-btn btn btn-default" type="submit" name="decrypt" value="Decrypt" />
    </div>
  </form>

{% endblock %}