.centered-vid {
    max-width: 560px; /* you have to have a size or this method doesn't work */
    max-height: 315px;
    margin-right: auto;
    margin-left: auto;
}

h1 {
    color:blue;
}


/* Connect 4 CSS */

.centered{
    text-align: center;
}

table{
    margin: auto;
    border-collapse: separate;

}


.circles{
    -moz-border-radius:100%;
    -webkit-border-radius:100%;
    width: 100px;
    height: 100px;
    background-color: dimgrey;
    border-spacing: 0;
    border: 4px solid black;

}

.blue{
    background-color: blue;
}

.red{
    background-color: red;
}

.color-green{
    background-color: green;
}

.color-blue{
    background-color: blue;
}

.color-red{
    background-color: red;
}

.color-yellow{
    background-color: yellow;
}

.win{
    color:forestgreen;
    font-size: 1.2em;
}
