{% extends 'accounts/accounts_base.html' %}
{% load bootstrap4 %}

{% block title_block %}Get Username/Password Reset | Verdant Fox{% endblock %}
{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
  <li class="breadcrumb-item active" aria-current="page">Get Username/Password Reset</li>
{% endblock %}

{% block body_block %}
  <br>
  <h3 class="text-center">Forgot username or password?</h3>
  <br>
  <p class="text-justify">
    Enter your email below to have your username emailed to you along with a
    link to reset your password. If you don't need a password reset, please
    simply ignore the second part of the email.
  </p>
  <br>
  <form method="post">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% buttons %}
      <button class="btn btn-green" type="submit">Submit</button>
    {% endbuttons %}
  </form>
{% endblock %}