{% extends 'accounts/accounts_base.html' %}
{% block title_block %}Password Reset Complete | Verdant Fox{% endblock %}
{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
  <li class="breadcrumb-item">
    <a href="{% url 'accounts:password_reset' %}">Get Username/Password Reset</a>
  </li>
  <li class="breadcrumb-item active" aria-current="page">Password Reset Complete</li>
{% endblock %}

{% block body_block %}
  <br>
  <h4>
    Your password has been set. You may go ahead and
    <a href="{% url 'accounts:login' %}">sign in</a> now.
  </h4>
{% endblock %}