.container
{
    /* center contents */
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

/* colors for navbar */
.navbar-default .navbar-brand .blue
{
    color: #537fbe;
}
.navbar-default .navbar-brand .red
{
    color: #ea433b;
}
.navbar-default .navbar-brand .yellow
{
    color: #f5b82e;
}
.navbar-default .navbar-brand .green
{
    color: #2e944b;
}
.loggedin {
    padding-top: 15px;
    padding-right: 20px;
    color: SlateGray;
}
main .form-control
{
    /* center form controls */
    display: inline-block;

    /* override Bootstrap's 100% width for form controls */
    width: auto;
}

main img
{
    /* constrain images on small screens */
    max-width: 100%;
}

main td
{
    /* left-align tables' cells */
    text-align: left;
}

.stock_quote {
    padding-top:20px;
    text-align: center;
    color: DarkSlateGray;
    font-family: Arial, Sans-serif;
    font-size: 20px;
}

table {
    table-layout: fixed;
    overflow-y: scroll;
    position: static;
    width: 100%;
}

.Symbol, .Price, .Total, .Shares {
width: 12.5%;
}
.Name {
width: 25%;
}

th, td {
    font-family: Arial, sans-serif;
    font-weight: 400;
    padding: 5px;
    text-align: left;
    width: 33.3333%;
    font-size: 18px;
}
thead th {
    background: #666666;
    color: #FFF;
    font-family: Arial, sans-serif;
    font-weight: 100;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 20px;
}

tr {
    border-bottom: 1px solid LightSlateGrey;
    margin-bottom: 2px;
}

tr:nth-child(even) {
    background: #f2f2f2;
}
tr:nth-child(odd) {
    background: #FFF;
}

.alert-info {
    background: #004d00;
    border-color: #666666;
    color: white;
    font-family: Arial, sans-serif;
    font-size: 26px;
}

.Table_headers {
    background: #800000;
    border-color: #800000;
    color: white;
    font-family: Arial, sans-serif;
    font-size: 26px;
    padding: 10px;
}

.cash {
    list-style-type: none;
    display: inline-block;
}

.expires {
    display: inline-block;
    font-size: 16px;
    padding-right: 20px;
}

h3 {
    font-size: 20px;
    margin-top: 10px;
}

.add_cash {
    text-align: left;
}

.center
{
    margin: auto;
    width: 50%;
}

.left {
    padding-left: 0px;
}

.date {
    margin-bottom: 1px;
}