{% extends 'accounts/accounts_base.html' %}
{% load bootstrap4 %}
{% block title_block %}Profile | Verdant Fox{% endblock %}
{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
  <li class="breadcrumb-item active" aria-current="page">Edit Profile</li>
{% endblock %}

{% block navbar_2 %}
  <ul class="nav nav-tabs">
  <li class="nav-item not-active">
    <a class="nav-link" href="{% url 'accounts:view_profile' %}">
      View Profile</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="">Edit Profile</a>
  </li>
  <li class="nav-item not-active">
    <a class="nav-link" href="{% url 'accounts:settings' %}">Account Settings</a>
  </li>
  <li class="nav-item not-active">
    <a class="nav-link" href="{% url 'accounts:password' %}">Change Password</a>
  </li>
  </ul>
  <br>
{% endblock %}

{% block body_block %}

  <form enctype="multipart/form-data" class="" method="post" action="">
    {% csrf_token %}
    {% bootstrap_form user_form %}
    {% bootstrap_form profile_form %}
    <div class="text-center">
      <button class="btn btn-lg btn-info" type="submit">Save changes</button>
    </div>
  </form>
  <br>

{% endblock %}