{% extends 'accounts/accounts_base.html' %}
{% load bootstrap4 %}
{% block title_block %}Login | Verdant Fox{% endblock %}
{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
  <li class="breadcrumb-item active" aria-current="page">Login</li>
{% endblock %}
{% block navbar_2 %}
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" href="">Login</a>
    </li>
    <li class="nav-item not-active">
      <a class="nav-link" href="{% url 'accounts:signup' %}">Sign up</a>
    </li>
  </ul>
  <br>
{% endblock %}
{% block body_block %}

  <div class="container">

    <h1 class="text-center">Login</h1><br>
    <h3 class="text-center">Login through a social platform</h3>
    <div class="social-logins text-center">
      <a title="Facebook login" href="{% url 'social:begin' 'facebook' %}?next={% url 'home' %}"><i class="fab fa-facebook fa-5x"></i></a>
      <a title="Twitter login" href="{% url 'social:begin' 'twitter' %}?next={% url 'home' %}"><i class="fab fa-twitter-square fa-5x"></i></a>
      <a title="GitHub login" href="{% url 'social:begin' 'github' %}?next={% url 'home' %}"><i class="fab fa-github-square fa-5x"></i></a>
      <br>
    </div>
    <br><h5 class="text-center"><strong>-- OR --</strong></h5><br>
    <div class="form-group">
      <h3 class="text-center">Use Traditional Login</h3>
      <form method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
          <div class="text-center">
            <input type="submit" class="btn btn-green btn-lg" value="Log in">
          </div>
        {% endbuttons %}
      </form>
    </div>
    <p class="text-center"><a href="#">Forgot password?</a></p>

  </div>

{% endblock %}