{% extends 'main_base.html' %}
{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
  <li class="breadcrumb-item active" aria-current="page">Signed up</li>
{% endblock %}
{% block body_block %}
    {% if messages %}
      <ul class="messages">
          {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"
            {% endif %}>{{ message }}</li>
          {% endfor %}
      </ul>
    {% endif %}
  <h1>OLD:  Welcome {{ username }}, you have successfully registered!</h1>
{% endblock %}
