{% extends 'accounts/accounts_base.html' %}

{% block title_block %}Profile | Verdant Fox{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
  <li class="breadcrumb-item active" aria-current="page">View Profile</li>
{% endblock %}

{% block navbar_2 %}
  <ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" href="">View Profile</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'accounts:edit_profile' %}">Edit Profile</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="">Change Password</a>
  </li>
  </ul>
  <br>
{% endblock %}

{% block body_block %}
  <h2>{{ user.get_full_name }}</h2>
  <ul class="profile-list">
    <li>Username: {{ user.username }}</li>
    <li>
      <div class="profile-pic-div">
        {% if profile.profile_picture %}
          Profile picture: <br>
          <img src="{{ profile.profile_picture.url }}" alt="Image not found"
               class="img-thumbnail" id="profile-img">
        {% else %}
          Profile picture: <br>
          <i id="alt-profile-img" class="img-thumbnail fas fa-user fa-10x"></i>
        {% endif %}
      </div>

    </li>
    <li>Email: {{ user.email }}</li>
    <li>First name: {{ user.first_name }}</li>
    <li>Last name: {{ user.last_name }}</li>
    <li>Location: {{ profile.location }}</li>
    <li>Time Zone: {{ profile.timezone }}</li>
    <li>Birth Date: {{ profile.birth_date }}</li>
  </ul>
  <a href="{% url 'accounts:edit_profile' %}">
  <button class="btn btn-lg btn-primary">Update</button></a>


{% endblock %}
