<h5>
  TwistedTowers
</h5>
<p>
  A tower defense game built in python's Pygame library.<br><br>


  To start game launch main.exe (main).<br><br>


  To start the game from source, launch main.py.<br>
  Python 3, and Pygame 1.9.3 required.<br><br>


  In game, enemies will travel along the dirt path toward the castle. The player
  can defend against enemies by building towers. Towers are constructed by
  left-clicking circles on the ground, and then clicking the adjacent circles
  that appear next to the first circle clicked. The game is lost if enough
  enemies reach the castle. The game is won if the player survives long enough
  for the hero mage to come to the rescue. Information on enemies and towers can
  be found in tabs in the main menu.<br><br>

  Have fun :-)<br><br>

  - VerdantFox<br><br>


  Code  by Theodore Williams<br><br>

</p>
<h6>Visuals:</h6>
<p>
  Background by Theodore Williams<br><br>

  All enemy images obtained from League of Legends, Riot Games,
  and edited by Theodore Williams<br><br>

  Towers from pieced together from open source paint3D objects
  and edited by Theodore Williams<br><br><br>

</p>
<h6>Music:</h6>
<p>
  Anamalie by Kevin MacLeod is licensed under a Creative Commons
  Attribution license (<a href="https://creativecommons.org/licenses/by/4.0/)">https://creativecommons.org/licenses/by/4.0/</a>)<br>
  Source: <a href="http://incompetech.com/music/royalty-free/index.html?isrc=USUAN1500007">http://incompetech.com/music/royalty-free/index.html?isrc=USUAN1500007</a><br>
  Artist: <a href="http://incompetech.com/">http://incompetech.com/</a><br><br>

  Fall of the Solar King by Twin Musicom is licensed under a Creative Commons
  Attribution license (<a href="https://creativecommons.org/licenses/by/4.0/">https://creativecommons.org/licenses/by/4.0/</a>)<br>
  Artist: <a href="http://www.twinmusicom.org/">http://www.twinmusicom.org/</a><br><br>

  Amazing Plan - Silent Film Dark by Kevin MacLeod is licensed under a Creative
  Commons Attribution license (<a href="https://creativecommons.org/licenses/by/4.0/">https://creativecommons.org/licenses/by/4.0/</a>)<br>
  Source: <a href="http://incompetech.com/music/royalty-free/index.html?isrc=USUAN1100737">http://incompetech.com/music/royalty-free/index.html?isrc=USUAN1100737</a><br>
  Artist: <a href="http://incompetech.com/">http://incompetech.com/</a><br><br>

  Hero Down by Kevin MacLeod is licensed under a Creative Commons Attribution
  license (<a href="https://creativecommons.org/licenses/by/4.0/">https://creativecommons.org/licenses/by/4.0/</a>)<br>
  Source: <a href="http://incompetech.com/music/royalty-free/index.html?isrc=USUAN1100880">http://incompetech.com/music/royalty-free/index.html?isrc=USUAN1100880</a><br>
  Artist: <a href="http://incompetech.com/">http://incompetech.com/</a><br><br>

  Evil March by Kevin MacLeod is licensed under a Creative Commons Attribution
  license (<a href="https://creativecommons.org/licenses/by/4.0/">https://creativecommons.org/licenses/by/4.0/</a>)<br>
  Source: <a href="http://incompetech.com/music/royalty-free/index.html?isrc=USUAN1100727">http://incompetech.com/music/royalty-free/index.html?isrc=USUAN1100727</a><br>
  Artist: <a href="http://incompetech.com/">http://incompetech.com/</a><br><br>

  Video Game Soldiers by Twin Musicom is licensed under a Creative Commons
  Attribution license (<a href="https://creativecommons.org/licenses/by/4.0/">https://creativecommons.org/licenses/by/4.0/</a>)<br>
  Source: <a href="http://www.twinmusicom.org/song/295/video-game-soldiers">http://www.twinmusicom.org/song/295/video-game-soldiers</a><br>
  Artist: <a href="http://www.twinmusicom.org">http://www.twinmusicom.org</a><br><br>

  Warrior Strife by Jingle Punks<br><br>

  Action Hero by Jingle Punks<br><br>

  Bensound-epic - Bensound.com<br><br>

  Bensound-instinct - Bensound.com
</p>