<div id="connect-4-inner-container">
{% load connect_4_tags %}
  <form id="connect4-form" method="post">
{#  <h4>It is {{ board.current_player.color }}'s turn!</h4>#}
  {% if error %}
    <h5 class="errorlist text-center">{{ error }}</h5>
    <h5 class="move text-center"><br></h5>
  {% else %}
    {% if p1_move_msg %}
      <h5 class="move text-center">{{ p1_move_msg }}</h5>
    {% else %}
      <h5 class="move text-center"><br></h5>
    {% endif %}
    {% if p2_move_msg %}
      <h5 class="move text-center">{{ p2_move_msg }}</h5>
    {% else %}
      <h5 class="move text-center"><br></h5>
    {% endif %}
  {% endif %}

  {% if message %}
    <h2 class="win text-center">{{ message }}</h2>
  {% else %}
    <h2 class="win text-center"></h2>
  {% endif %}

  {% csrf_token %}
    <table class="connect-4-table">
    <thead>
      <tr>
        {# Create for loop with range 7 #}
        {% for col in "0123456" %}
          <td class="text-center">
            <button type="submit"
                    class="btn btn-outline-green btn-block btn-sm"
                    {% if deactivate %}disabled{% endif %}
                    form="connect4-form"
                    name="{{ forloop.counter0 }}"
                    ic-post-to="{% url 'games:ajax_connect_4' %}"
                    ic-trigger-on="click"
                    ic-target="#connect-4-inner-container">
              <h2>{{ forloop.counter }}</h2><i class="fas fa-chevron-down fa-2x"></i>
            </button>
          </td>
        {% endfor %}
      </tr>
    </thead>
    <tbody class="c4-table-body">
    {% for row in board.grid %}
      {% with forloop.counter0 as row_number %}
        <tr>
          {% for column in row %}
            {% with forloop.counter0 as column_number %}
              {% if row_number == p1_row and column_number == p1_col or row_number == p2_row and column_number == p2_col %}
                <td class="circles chosen color-{{ board.grid|index:row_number|index:column_number }}">
              {% else %}
                <td class="circles color-{{ board.grid|index:row_number|index:column_number }}">
              {% endif %}
                <input type="hidden"
                       name="circle-{{ row_number }},{{ column_number }}"
                       value="{{ board.grid|index:row_number|index:column_number }}">
              </td>
            {% endwith %}
          {% endfor %}
        </tr>
      {% endwith %}
    {% endfor %}
    </tbody>
    <tfoot>
      <tr>
        <td colspan="7">
          <div class="text-center">
            <button type="submit"
                    class="btn btn-outline-danger btn-block btn-lg"
                    form="connect4-form"
                    name="restart"
                    ic-post-to="{% url 'games:ajax_connect_4' %}"
                    ic-trigger-on="click"
                    ic-target="#connect-4-inner-container">
              <strong>Reset board</strong>
            </button>
          </div>
        </td>
      </tr>
    </tfoot>
    </table>
  </form>
</div>

