{% extends 'games/games_base.html' %}
{% load staticfiles %}

{% block title_block %}
  Connect 4 | games
{% endblock %}

{% block active3 %}active{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
  <li class="breadcrumb-item"><a href="{% url 'games:index' %}">Games</a></li>
  <li class="breadcrumb-item active" aria-current="page">Connect 4</li>
{% endblock %}

{% block body_block %}
    <h1>Welcome to connect 4!</h1>
    <h2>The object of the game is to connect four of your chips in a row!</h2>
    <div id="ajax-connect-4" ic-trigger-on="load"
    ic-get-from="{% url 'games:ajax_connect_4' %}">
      <h2>Loading connect 4</h2>
    <i class="ic-indicator fa fa-spinner fa-spin fa-10x"></i>
  </div>
{% endblock %}
{% block javascript %}
  <script src="{% static 'games/js/connect_4.js' %}"></script>
{% endblock %}