{% extends 'games/games_base.html' %}
{% load staticfiles %}

{% block title_block %}
  Moth Hunt | games
{% endblock %}

{% block active1 %}active{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
  <li class="breadcrumb-item"><a href="{% url 'games:index' %}">Games</a></li>
  <li class="breadcrumb-item active" aria-current="page">Batty's Moth Hunt</li>
{% endblock %}

{% block body_block %}

  <br>
  <h3 class="text-center">Batty's Moth Hunt</h3>
  <br>
  <p class="text-justify">
    This was the first game and one of the first programs I ever wrote. It's
    written in <a class="link-target" href="https://scratch.mit.edu/" target="_blank">
    Scratch</a>, a learner programming language created by MIT. If you have
    someone interested in programming, I highly recommend pointing them to this
    language as a first try. It was a fun experience that got me excited to
    learn more programming with more useful languages.
  </p>
  <p class="text-justify">For this game, which works in browser for PC users,
    you play as a bat with the goal of hunting down moths for dinner using
    echo-location to find your prey. All the while you must avoid the scary
    owl hunting <i>you</i> down for his dinner.
  </p>
  <p class="text-justify">
    Note: To play you will need to access this page from a computer (not phone)
    and enable "Flash" for this webpage.
  </p>
  <br>
  <div class="centered-vid">
    <iframe allowtransparency="true" width="485" height="402"
          src="https://scratch.mit.edu/projects/embed/166765459/?autostart=false"
          frameborder="0" allowfullscreen></iframe>
  </div>
  <br><br><br><br><br>

{% endblock %}