<h3>Player 1's turn!</h3>
<div class="container">
  <table class = grid>
    <tr class="row0">
      <td class="circles column0"></td>
      <td class="circles column1"></td>
      <td class="circles column2"></td>
      <td class="circles column3"></td>
      <td class="circles column4"></td>
      <td class="circles column5"></td>
      <td class="circles column6"></td>
    </tr>
    <tr class="row1">
      <td class="circles column0"></td>
      <td class="circles column1"></td>
      <td class="circles column2"></td>
      <td class="circles column3"></td>
      <td class="circles column4"></td>
      <td class="circles column5"></td>
      <td class="circles column6"></td>

    </tr>
    <tr class="row2">
      <td class="circles column0"></td>
      <td class="circles column1"></td>
      <td class="circles column2"></td>
      <td class="circles column3"></td>
      <td class="circles column4"></td>
      <td class="circles column5"></td>
      <td class="circles column6"></td>

    </tr>
    <tr class="row3">
      <td class="circles column0"></td>
      <td class="circles column1"></td>
      <td class="circles column2"></td>
      <td class="circles column3"></td>
      <td class="circles column4"></td>
      <td class="circles column5"></td>
      <td class="circles column6"></td>

    </tr>
    <tr class="row4">
      <td class="circles column0"></td>
      <td class="circles column1"></td>
      <td class="circles column2"></td>
      <td class="circles column3"></td>
      <td class="circles column4"></td>
      <td class="circles column5"></td>
      <td class="circles column6"></td>

    </tr>
    <tr class="row5">
      <td class="circles column0"></td>
      <td class="circles column1"></td>
      <td class="circles column2"></td>
      <td class="circles column3"></td>
      <td class="circles column4"></td>
      <td class="circles column5"></td>
      <td class="circles column6"></td>
    </tr>
  </table>
</div>