{% extends 'games/games_base.html' %}
{#{% load embed_video_tags %}#}
{% load staticfiles %}

{% block title_block %}
  Twisted Towers | games
{% endblock %}

{% block active2 %}active{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
  <li class="breadcrumb-item"><a href="{% url 'games:index' %}">Games</a></li>
  <li class="breadcrumb-item active" aria-current="page">Twisted Towers</li>
{% endblock %}

{% block body_block %}

  <br>
  <h1 class="text-center">Twisted Towers</h1>
  <br>
  <p class="text-justify">
    I wrote this game as my final project for Harvard's course, <a class="link-target" href="https://www.edx.org/course/cs50s-introduction-computer-science-harvardx-cs50x" target="_blank">
    CS50</a>, and I'd call it my first program written completely
    independently. It helped me get a sense of how to transition to
    object-oriented programming, as opposed to the procedural programming I'd
    learned up to that point. Twisted Towers is a <a class="link-target" href="https://en.wikipedia.org/wiki/Tower_defense" target="_blank">
    tower defense</a> style game that I wrote with Python's Pygame library.
  </p>

  <h3 class="text-center">How to play</h3>
  <p class="text-justify">
    The goal of the game is to build and upgrade towers to shoot at the oncoming
    horde of enemies traveling along the path toward your castle. If an enemy
    is able to reach your castle, they will damage your castle. Take enough
    damage and the castle will fall and everyone in it will perish! So build
    those towers! You can build towers by clicking the dirt patches on the
    ground, then clicking the circle that appears next to it. You can then
    upgrade towers (up to 2x) into elemental towers by clicking the circle
    located the tower's base and clicking the elemental circle of your choice.
    Once constructed, towers will automatically fire at passing enemies.
  </p>
  <p class="text-justify">
    Earn money by killing monsters and use that money to build and upgrade more
    towers to continue fighting off the horde. Survive long enough for the
    hero mage to rally to your cause to win the game. You can learn more about
    enemy types and tower types using in game menus from the home screen.
    Furthermore, if you find things a bit too difficult or too easy, you can
    adjust difficulty settings from a menu off the home screen as well. For a
    quick overview with visuals, you can check out my video below where I
    explain the game for the final project of my class.
  </p>

  <h3 class="text-center">How to get the game</h3>
  <p class="text-justify">
    Twisted towers is a desktop application run as a .exe file. To play,
    download the game as a zip file using the link provided below. Then, extract
    the files and open the "Game Files" folder. Within this folder is a file
    named "main.exe" (not main.py). Click this program to run the game.
  </p>
  <h3 class="text-center">Note</h3>
  <p class="text-justify">
    Unfortunately, I wrote this game with fixed dimensions without considering
    smaller monitors (doh!). The game requires a monitor height of
    760 pixels or greater to display properly (otherwise the bottom of the
    screen is cut off).
  </p>
  <br>
  <div class="centered-vid">
    <iframe width="560" height="315"
            src="https://www.youtube.com/embed/BZF5d-dr02E"
            frameborder="0" allow="autoplay; encrypted-media" allowfullscreen>

    </iframe>
  </div>
  <br>

<!-- Button trigger modal -->
<div class="text-center">
  <button type="button" class="btn btn-green" data-toggle="modal" data-target="#tt_modal">
    Twisted Towers ReadMe Info
  </button>
</div>

<!-- Modal -->
<div class="modal fade" id="tt_modal" tabindex="-1" role="dialog" aria-labelledby="Twisted Towers" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="Twisted-Towers-modal-title">Twisted Towers ReadMe info</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {% include 'games/_tt_ReadMe.html' %}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

  <br>

  <div class="text-center">
    <h3>Download zip file of game here:</h3>
    <h5>
      <a class="link-target"
         href="{% static 'games/twisted_towers/Twisted_Towers.zip' %}"
         download="twisted_towers">
        <i class="fas fa-download"></i> Twisted Towers <i class="fas fa-gamepad"></i>
      </a>
    </h5>


  </div>
  <br>

{# This is how I would embed video through django model system #}
{#  {% video ttvideo.video as twisted_towers %}#}
{#    {% video twisted_towers 'medium' %}#}
{#  {% endvideo %}#}

{% endblock %}

