{% extends 'games/games_base.html' %}
{% load embed_video_tags %}
{% load staticfiles %}

{% block title_block %}
  Twisted Towers | games
{% endblock %}

{% block active1 %}active{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
  <li class="breadcrumb-item"><a href="{% url 'games:index' %}">Games</a></li>
  <li class="breadcrumb-item active" aria-current="page">Twisted Towers</li>
{% endblock %}

{% block body_block %}

  <h1 class="text-center">This is Twisted Towers!</h1>
  <div class="centered-vid">
    <iframe width="560" height="315"
            src="https://www.youtube.com/embed/BZF5d-dr02E"
            frameborder="0" allow="autoplay; encrypted-media" allowfullscreen>

    </iframe>
  </div>
  <br>
  <div class="text-center">
    <h3>Download zip file of game here:</h3>
    <a href="{% static 'games/twisted_towers/Twisted_Towers.zip' %}"
       download="twisted_towers">
      <i class="fas fa-download"></i> Twisted Towers <i class="fas fa-gamepad"></i>
    </a>
  </div>


{# This is how I would embed video through django model system #}
{#  {% video ttvideo.video as twisted_towers %}#}
{#    {% video twisted_towers 'medium' %}#}
{#  {% endvideo %}#}

{% endblock %}

