/* https://css-tricks.com/snippets/css/turn-off-number-input-spinners/ */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.form-box {
    min-width: 52px; /*fits 3 digits */
    max-width: 78px; /*fits 6 digits */
}

.stock {
    font-size: 1em;
}

.buy-success {
    color: #ff5a29;
}

.sale-success {
    color: forestgreen;
}

.hide{
    display: none;
    color: blue;
}


/* phone size adjustments */
@media only screen and (max-device-width: 480px) {
    .table-history {
        font-size: 0.62em;
    }

    .table-stock-list {
        font-size: 0.6em;
        margin-right: 0;
        padding-right: 0;
    }

    .table-stock-list button {
        text-align: center;
        font-size: 1.2em;
    }

    .form-box {
        min-width: 37px;
        max-width: 37px;
        font-size: 1em;
    }

}