{% load staticfiles %}
h1{
    color: green;
}

.user-info{
    color: black;
}
.border{
    border: 2px solid black;
}


.transparent{
  background: transparent;
  background-image: none;
  border-color: transparent;
  box-shadow: none;
}
.pad:before{
    content:" ";
    display:inline-block;
    width:4px;
}

.errorlist {
    color: red;
    padding: 0;
    list-style-type: none;
    font-weight: bold;
}

.success {
    color: green;
    padding: 0;
    list-style-type: none;
    font-weight: bold;
    font-size: 1.5em;
}

.warning {
    color: red;
    padding: 0;
    list-style-type: none;
    font-weight: bold;
    font-size: 1.5em;
}

.profile-pic-div {
    max-width: 600px;
}

#profile-img {
    max-height: 600px;
}

.profile-list {
    padding: 0;
    list-style-type: none;
    font-size: 1.4em;
}

/* https://css-tricks.com/snippets/css/turn-off-number-input-spinners/ */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.form-box {
    min-width: 52px; /*fits 3 digits */
    max-width: 78px; /*fits 6 digits */
}