{% load staticfiles %}

<h2 class="text-center">About</h2>
<br><br>
<h3 class="text-center">Theodore Fox Williams</h3>
<br>
<div class="text-center">
  <img class="rounded-circle" width="300"
   src="{% static 'VerdantFox/images/suit_headshot_cropped.jpg' %}"
   alt="Theodore Williams" title="Theodore Williams">
</div>
<br>

<div class="text-center">
  <h2 style="margin-bottom: 4px">Software Developer</h2>
  <hr width="290" class="mx-auto" style="border:1px solid #202E24; margin: 1px">
  <h5>Python | Front-End | Back-End</h5>
</div>
<br><br>

<div class="container about">
  <div class="row">
  <div class="col"></div>
  <div class="col-lg-5">
    <p>
      Hello! My name is Theodore <em>Fox</em>  Williams. I started learning to code
      in 2017 to become a software developer and I am loving every minute of it.
      Currently I am an API developer for
      <a href="https://catalystsecure.com/" target="_blank">
        Catalyst Repository Systems</a>. In this capacity I work on the back-end, interfacing with our
      <a href="https://www.marklogic.com/product/marklogic-database-overview/database-features/" target="_blank">MarkLogic</a>
      <a href="https://en.wikipedia.org/wiki/NoSQL" target="_blank">NoSQL</a>
      database. My primary languages I use in this capacity are Python, Bash, and XQuery.
      I really enjoy problem solving and figuring out how I can use
      new techniques and technologies to build useful applications.
      I recently attended the PyCon, 2018 Python conference in Cleveland
      where I met a lot of the Python community, a fantastic group of
      people doing really cool work. After hearing about all the latest
      updates and newest technologies and libraries, I'm really excited to
      work on my projects with new ideas and a fresh perspective.
    </p>
  </div>
  <div class="col-lg-5">
    <p>
      A bit about me. I am an intensely curious individual --
      I want to know how things work. I have a passion for testing what I
      learn by developing intriguing software applications.
      I'm excited for challenges and I love to learn new languages,
      libraries and project designs.
      Regardless of the project I'm working on, I like to spend time
      keeping informed of the latest technologies,
      and I'm always looking for how to inject new concepts and ideas into my
      projects. I really enjoy collaborating with others on cool projects. I love
      learning from others and teaching new concepts I've learned to those
      interested. I've really benefited from some great mentors in my life and
      as such I'm looking to mentor individuals new to programming. Please feel
      free to reach out to me if you'd like to talk
      about a project, a problem, or anything else on your mind.
    </p>
  </div>
  <div class="col"></div>
</div>
</div>

