{% load staticfiles %}

<h2 class="text-center">About</h2>
<br><br>
<h3 class="text-center">Theodore Fox Williams</h3>
<br>
<div class="text-center">
  <img class="rounded-circle" width="300"
   src="{% static 'VerdantFox/images/headshot1-cropped.jpg' %}"
   alt="Theodore Williams" title="Theodore Williams">
</div>
<br>

<div class="text-center">
  <h2 style="margin-bottom: 4px">Software Developer</h2>
  <hr width="290" class="mx-auto" style="border:1px solid #202E24; margin: 1px">
  <h5>Python | Front-End | Back-End</h5>
</div>
<br><br>

<div class="container about">
  <div class="row">
  <div class="col"></div>
  <div class="col-lg-5">
    <p>
      Hello! My name is Theodore Williams. I am a biologist, lover of foxes,
      and for the past year, a software developer. I started learning to code
      in 2017 to become a software developer and I am loving every minute of it.
      I really enjoy problem solving and figuring out how I can use
      new techniques and technologies to build useful applications.
      Thus far, I have concentrated my efforts on developing in Python with
      recent focus on the Django web framework.
      I am very excited to attend the
      upcoming May, 2018 PyCon conference in Cleveland where I'm looking forward
      to hearing talks on the latest news and developments in Python, and I am
      looking forward to meeting more members of the wonderful Python community.
    </p>
  </div>
  <div class="col-lg-5">
    <p>
      A bit about me. I am an intensely curious individual -- I want to know how things work.
      I am a hard worker with a passion for
      developing intriguing software applications.
      I'm excited for challenges and I love to learn new languages,
      libraries and project designs.
      Regardless of the project I'm working on, I like to spend time
      keeping informed of the latest technologies,
      and I'm always looking for how to inject new concepts and ideas into my
      projects. I am a team player who is easy to get along with. I love
      learning from others and teaching new concepts I've learned to those
      interested. Please feel free to reach out to me if you'd like to talk
      about a project, a problem, or anything code or biology related.
    </p>
  </div>
  <div class="col"></div>
</div>
</div>

