{% load staticfiles %}

<h2 class="text-center">About</h2>
<br><br>
<h3 class="text-center">Theodore Fox Williams</h3>
<br>
<div class="text-center">
  <img class="rounded-circle" width="300"
   src="{% static 'VerdantFox/images/headshot1-cropped.jpg' %}"
   alt="Django" title="Django">
</div>
<br>

<div class="text-center">
  <h2 style="margin-bottom: 4px">Software Developer</h2>
  <hr width="290" class="mx-auto" style="border:1px solid #202E24; margin: 1px">
  <h5>Python | Front-End | Back-End</h5>
</div>
<br><br>

<div class="container about">
  <div class="row">
  <div class="col"></div>
  <div class="col-lg-5">
    <p>
      Hello! My name is Theodore Williams. I'm a biologist, lover of foxes,
      and since mid 2017 -- a software developer! I think my curiosity
      about the inner workings of biological systems has translated into a
      strong curiosity for the
      mechanics of software design. I am a hard worker with a new-found
      passion for developing intriguing software applications.
      Always looking to learn and challenge myself, I'm excited to learn new
      languages, libraries and project designs.
    </p>
  </div>
  <div class="col-lg-5">
    <p>
      Regardless of the project I'm working on, I like to spend time
      keeping informed of the latest technologies,
      and I'm always looking for how to inject new concepts and ideas into my
      projects. I am a team player who is easy to get along with. I love
      learning from others and teaching new concepts I've learned to those
      interested. Please feel free to reach out to me if you'd like to talk
      about a project, a problem, or anything code or biology related.
    </p>
  </div>
  <div class="col"></div>
</div>
</div>

