{% load staticfiles %}

<div class="container about">
  <div class="row">
  <div class="col"></div>
  <div class="col-lg-5">
    <p>
      Welcome! In this portfolio web-app, I’ve put together a couple of
      projects I’ve worked on while learning new programming skills.
      You can read a little bit about the mini-apps in their descriptions and
      click on them to try them out. I’ll be adding more apps and updating
      these ones as I learn more concepts and think of ideas for new fun or
      interesting apps.
    </p>
  </div>
  <div class="col-lg-5">
    <p>
      Below the app descriptions you can find some of the more important
      (in my opinion) skills I’ve learned while studying software development.
      And finally there is a section where I give a bit of description
      of myself and include updates on my software development studies and career.
      Thanks for taking a look, enjoy!
    </p>
  </div>
  <div class="col"></div>
</div>
</div>

