{% load staticfiles %}
<h2 class="text-center">Skills</h2>
<br>

{# container-small is a narrower container (custom css) #}
{# mx-auto centers the narrowed container #}
{# text-center centers the images within the container #}
<section class="skills-pictures">
  <div class="container-small mx-auto text-center">
    <img class="extra-padding" width="200"
     src="{% static 'VerdantFox/images/skills/python.png' %}"
     alt="Python" title="Python">
    <img class="extra-padding" width="200"
     src="{% static 'VerdantFox/images/skills/django.png' %}"
     alt="Django" title="Django">
    <img class="extra-padding" width="200"
     src="{% static 'VerdantFox/images/skills/flask.png' %}"
     alt="Flask" title="Flask">
    <img class="extra-padding" width="200"
     src="{% static 'VerdantFox/images/skills/git.png' %}"
     alt="Git" title="Git">
    <img class="extra-padding" width="200"
     src="{% static 'VerdantFox/images/skills/Bootstrap.png' %}"
     alt="Bootstrap" title="Bootstrap">
    <img class="extra-padding" width="200"
     src="{% static 'VerdantFox/images/skills/js.png' %}"
     alt="Javascript" title="Javascript">
    <img class="extra-padding" width="200"
     src="{% static 'VerdantFox/images/skills/HTML5.png' %}"
     alt="HTML5" title="HTML5">
    <img class="extra-padding" width="200"
     src="{% static 'VerdantFox/images/skills/CSS3.png' %}"
     alt="CSS3" title="CSS3">
    <img class="extra-padding" width="200"
     src="{% static 'VerdantFox/images/skills/jquery.png' %}"
     alt="JQuery" title="JQuery">
    <img class="extra-padding" width="200"
     src="{% static 'VerdantFox/images/skills/SQLite.png' %}"
     alt="SQLite" title="SQLite">
    <img class="extra-padding" width="200"
     src="{% static 'VerdantFox/images/skills/c-programming.png' %}"
     alt="C-Programming Language" title="C-Programming Language">
  </div>
</section>
