{% extends 'main_base.html' %}
{% load staticfiles %}
{% block title_block %}
  Home | Verdant Fox
{% endblock %}
{% block breadcrumb %}
  <li class="breadcrumb-item active" aria-current="page">Home</li>
{% endblock %}

{% block top_image_break %}

  <section class="top_image" id="welcome-image"
           style="background-image:
               linear-gradient(
                  rgba(0, 0, 0, 0.15),
                  rgba(0, 0, 0, 0.15)
                ),
               url('{% static 'VerdantFox/images/fox_backgrounds/fox-climb-2-crop.jpg' %}')">
    <section class="welcome">
      <div class="spacer_image_text">
        <h1 class="text-center">Welcome to Verdant Fox!</h1>
      </div>
    </section>
  </section>


{% endblock %}

{% block intro_block %}

  <section class="break">
    <br><br>
  </section>
  <section class="intro">
    <div id="intro">
      {% include '_intro.html' %}
    </div>
  </section>
  <section class="break">
    <br><br>
  </section>

{% endblock %}

{% block image_break0 %}

  <section class="spacer_image lazy c-1"
           style="background-image:
               linear-gradient(
                  rgba(0, 0, 0, 0.3),
                  rgba(0, 0, 0, 0.3)
                ),
               url('{% static 'VerdantFox/images/fox_backgrounds/fox-playing-3-cropped.jpg' %}')">
    <div class="spacer_image_text text-center">
      <!-- PC version -->
      <div class="mobile-no-display">
        <h1>"Whatever good things we build end up building us."</h1>
        <h3>--Jim Rohn</h3>
      </div>


      <!-- Mobile version -->
      <div class="mobile-only">
        <br><br><br><br><br>
        <h1>"Whatever good things we build <br> end up building us."</h1>
        <h3>--Jim Rohn</h3>
      </div>


    </div>
  </section>

{% endblock %}

{% block body_block %}

  <section class="break">
    <br><br>
  </section>
  <section class="projects">
    <div id="projects">
      {% include '_projects.html' %}
    </div>
  </section>
  <section class="break">
    <br><br>
  </section>

{% endblock %}


{% block image_break1 %}

  <section class="spacer_image lazy c-1"
           style="background-image:
                linear-gradient(
                  rgba(0, 0, 0, 0.3),
                  rgba(0, 0, 0, 0.3)
                ),
               url('{% static 'VerdantFox/images/fox_backgrounds/fox-white.jpg' %}')">
    <div class="spacer_image_text">
      <div class="mobile-only"><br><br><br></div>
      <h1>Always striving for improvement.</h1>
      <h3>Looking for opportunities wherever they lie.</h3>
    </div>
  </section>

{% endblock %}


{% block body_block2 %}

  <section class="break">
    <br><br>
  </section>
  <section class="skills">
    <div id="skills">
      {% include '_skills.html' %}
    </div>
  </section>
  <section class="break">
    <br><br>
  </section>

{% endblock %}


{% block image_break2 %}

  <section class="spacer_image c-1 lazy"
           style="background-image:
               linear-gradient(
                  rgba(0, 0, 0, 0.3),
                  rgba(0, 0, 0, 0.3)
                ),
               url('{% static 'VerdantFox/images/fox_backgrounds/fox-sneak-5.jpg' %}')">
    <div class="spacer_image_text">
      <h1>Face challenges head on.</h1>
      <br class="mobile-only">
      <h3>Let's build something great together.</h3>
    </div>
  </section>


{% endblock %}


{% block body_block3 %}

  <section class="break">
    <br><br>
  </section>
  <section class="about">
    <div id="about">
      {% include '_about.html' %}
    </div>
  </section>
  <section class="break">
    <br><br>
  </section>

{% endblock %}

{% block footer_block %}
  <div class="container">
    <p class="text-center">Thank you for visiting my portfolio! I hope you enjoyed it.</p>
    <br>
    <p class="text-center">Want to talk to me about a project?</p>
    <p class="text-center">
      Reach out to me by email, or on LinkedIn, GitHub or Twitter.
    </p>
    <br>
    <p class="text-center">theodore.f.williams@gmail.com</p>
      <div class="social-logins text-center">
        <a class="remove-underline" title="Theodore's LinkedIn"
           href="https://www.linkedin.com/in/theodore-f-williams"
           target="_blank">
          <i class="fab fa-linkedin fa-3x"></i>
        </a>
        <span>&nbsp; &nbsp;</span>
        <a class="remove-underline" title="Theodore's GitHub"
           href="https://github.com/VerdantFox"
           target="_blank">
          <i class="fab fa-github-square fa-3x"></i>
        </a>
        <span>&nbsp; &nbsp;</span>
        <a class="remove-underline" title="Theodore's Twitter"
           href="https://twitter.com/VerdantFox17"
           target="_blank">
          <i class="fab fa-twitter-square fa-3x"></i>
        </a>
        <br>
      </div>
    </div>



{% endblock %}


{% block javascript %}
  <script src="{% static 'VerdantFox/js/index.js' %}"></script>
{% endblock %}
