{% extends 'main_base.html' %}
{% load staticfiles %}
{% block title_block %}
  Home | Verdant Fox
{% endblock %}
{% block breadcrumb %}
  <li class="breadcrumb-item active" aria-current="page">Home</li>
{% endblock %}
{% block body_block %}
  <h1 class="text-center">Welcome to Verdant Fox!</h1>
  <br><br>
  {% include '_projects.html' %}
  <br><br><br><br><br><br><br><br><br><br><br><br><br><br>
  {% include '_skills.html' %}
  <br><br><br><br><br><br><br><br><br><br><br><br><br><br>
  {% include '_about.html' %}
  <br><br>

{% endblock %}
