{% extends 'main_base.html' %}
{% load staticfiles %}
{% block title_block %}
  Home | Verdant Fox
{% endblock %}
{% block breadcrumb %}
  <li class="breadcrumb-item active" aria-current="page">Home</li>
{% endblock %}
{% block body_block %}
  <h1 class="text-center">Welcome to Verdant Fox!</h1>
  <section class="break">
    <br><br><br>
  </section>

  <section class="projects">
    <div id="projects">
      {% include '_projects.html' %}
    </div>
  </section>

  <section class="break">
    <br><br><br><br><br><br>
  </section>

  <section class="spacer_image"
           style="background-image: url('{% static 'VerdantFox/images/fox_backgrounds/fox-climb.jpg' %}')">
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br>
  </section>

  <section class="break">
    <br><br><br><br><br><br>
  </section>

  <section class="skills">
    <div id="skills">
      {% include '_skills.html' %}
    </div>
  </section>

  <section class="spacer_image">
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br>
  </section>

  <section class="break">
    <br><br><br><br><br><br>
  </section>

  <section class="about">
    <div id="about">
      {% include '_about.html' %}
    </div>
  </section>

  <section class="break">
    <br><br><br>
  </section>

{% endblock %}

{% block javascript %}
  <script src="{% static 'VerdantFox/js/index.js' %}"></script>
{% endblock %}
