{% extends 'base.html' %}


{% block navbar_brand %}
  <a class="navbar-brand" href="{% url 'home' %}">Verdant Fox!</a>
{% endblock %}


{% block inner_navbar %}

    <ul class="navbar-nav">
{#      <li class="nav-item">#}
{#        <a class="nav-link" href="#">News Map</a>#}
{#      </li>#}
{#      <li class="nav-item">#}
{#        <a class="nav-link" href="#">Twitter Sentiments</a>#}
{#      </li>#}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'Finance:home' %}">Stock Finance</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'games:index' %}">Games</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'Simple:home' %}">Simple</a>
      </li>
    </ul>
{% endblock %}

{% block message_block %}
  {% include '_messages.html' %}
{% endblock %}