{% extends 'base.html' %}
{% load staticfiles %}


{% block navbar_brand %}
  <a class="navbar-brand" href="#header">Verdant Fox!</a>
{% endblock %}


{% block inner_navbar %}

  <ul class="nav nav-pills flex-lg-row flex-column">
    <li class="nav-item">
      <a class="nav-link" href="#projects">Projects</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#skills">Skills</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#about">About</a>
    </li>
    <li class="nav-item">
       <a class="nav-link"
         href="{% static 'VerdantFox/documents/TheodoreWilliamsResume.pdf' %}" target="_blank">
        <i class="fa fa-download" aria-hidden="true"></i> Resume
      </a>
    </li>
  </ul>

{% endblock %}

{% block message_block %}
  {% include '_messages.html' %}
{% endblock %}