{% extends 'Finance/Finance_base.html' %}

{% block title_block %}
  Analysis | Finance
{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
  <li class="breadcrumb-item"><a href="{% url 'Finance:home' %}">Finance</a></li>
  <li class="breadcrumb-item active" aria-current="page">Analysis</li>
{% endblock %}

{% block active3 %}active{% endblock %}

{% block css %}
  {% include "Finance/_bokeh_css_js.html" %}
{% endblock %}

{% block body_block %}

  <h1>Analysis</h1>
  <p>Stock data goes back up to a maximum of 20 years.</p>

  <h5>Analyze a stock?</h5><br>
  <form class="form" method="post" id="analysis-form">
    {% csrf_token %}
    <div class="row">
      <div class="form-group col-6">
        <p>{{ analysis_form.symbol.label }}</p>
        <p>{{ analysis_form.symbol }}</p>
      </div>
      <div class="form-group col-6">
        <p>{{ analysis_form.time_frame.label }}</p>
        <p>{{ analysis_form.time_frame }}</p>
      </div>
    </div>
    <input type="hidden" name="analysis"/>
    {# Replace normal post action with ajax call using intercooler #}
    <button id="analysis-submit" type="submit" class="btn btn-primary"
            form="analysis-form" name="analyze" value="Analyze"
            ic-post-to="{% url 'Finance:ajax_graph' %}"
            ic-trigger-on="click"
            ic-target="#graph-container"
            >Get graph
      <i class="ic-indicator fa fa-spinner fa-spin" style="display:none"></i>
    </button>
    <div id="graph-container"></div>
  <br>
  </form>

{% endblock %}
