{% extends 'Finance/Finance_base.html' %}

{% block title_block %}
  Analysis | Finance
{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
  <li class="breadcrumb-item"><a href="{% url 'Finance:home' %}">Finance</a></li>
  <li class="breadcrumb-item active" aria-current="page">Analysis</li>
{% endblock %}

{% block active3 %}active{% endblock %}

{% block body_block %}
  <h1>Analysis</h1>
  <p>Stock data goes back up to a maximum of 20 years.</p>
{% endblock %}