{% extends "base.html" %}


{% block inner_navbar %}
  <a class="navbar-brand" href="{% url 'Finance:home' %}">Finance!</a>
  {% include '_nav_collapse_button.html' %}
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item {% block active1 %}{% endblock %}">
        <a class="nav-link" href="{% url 'Finance:portfolio' %}">Portfolio</a>
      </li>
      <li class="nav-item {% block active2 %}{% endblock %}">
        <a class="nav-link" href="{% url 'Finance:quote' %}">New Quote</a>
      </li>
      <li class="nav-item {% block active3 %}{% endblock %}">
        <a class="nav-link" href="{% url 'Finance:analysis' %}">Analysis</a>
      </li>
      <li class="nav-item {% block active4 %}{% endblock %}">
        <a class="nav-link" href="{% url 'Finance:history' %}">History</a>
      </li>
      <li class="nav-item {% block active5 %}{% endblock %}">
        <a class="nav-link" href="{% url 'Finance:add_funds' %}">Add Funds</a>
      </li>
    </ul>
  </div>
{% endblock %}