{% extends "base.html" %}
{% block inner_navbar %}
    <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-md-auto">
      <li>
        <a class="nav-link" href="#">Buy/sell/AddCash/Quote/Portfolio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">History</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Welcome, user</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">login/out</a>
      </li>
    </ul>
  </div>
{% endblock %}