{% extends 'Finance/Finance_base.html' %}

{% block title_block %}
  Portfolio | Finance
{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
  <li class="breadcrumb-item active" aria-current="page">Finance</li>
{% endblock %}

{% block body_block %}
  <h1>Welcome to Finance!</h1>
  <div class="text-justify">
    <p>
      In this app, once <a href="{% url 'accounts:login' %}">logged in</a>,
      you will be given virtual cash with which to "fake buy" stocks. These
      stocks, however, are representations of real stocks on the actual
      stock-market, updated in real time.
    </p>
    <p>
      This app can be thought of as a practice round for real world stock market
      trading. You will be able to look up quotes for stocks, buy and sell
      stocks, and view graphs of how stocks have performed over time to make
      informed buying and selling decisions. Although you
      will be given $10,000 initially, you can add virtual money to your
      account using a credit card (please don't use your actual credit card,
      fake cards are provided).
    </p>
    <p>
      I hope you like this introduction to stock finance. <strong>Now, let's
      trade some stocks!</strong>
    </p>
  </div>

{% endblock %}