{% extends 'Finance/Finance_base.html' %}
{% load humanize %}

{% block title_block %}
  Portfolio | Finance
{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
  <li class="breadcrumb-item"><a href="{% url 'Finance:home' %}">Finance</a></li>
  <li class="breadcrumb-item active" aria-current="page">Portfolio</li>
{% endblock %}

{% block active1 %}active{% endblock %}

{% block body_block %}

  <h1>Portfolio</h1>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Symbol</th>
          <th scope="col">Name</th>
          <th scope="col">Shares</th>
          <th scope="col">Price</th>
          <th scope="col">Total</th>
        </tr>
      </thead>
      <tbody>
        {% for stock in stock_list %}
          <tr>
            <th scope="row">{{ stock.symbol }}</th>
            <td>{{ stock.name }}</td>
            <td>{{ stock.shares }}</td>
            <td>{{ stock.price }}</td>
            <td>{{ stock.total }}</td>
          </tr>
        {% endfor %}
        <tr>
          <th scope="row">CASH</th>
          <td></td>
          <td></td>
          <td></td>
          <td>{{ cash }}</td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <th scope="row">NET WORTH</th>
          <td></td>
          <td></td>
          <td></td>
          <td>{{ net_worth }}</td>
        </tr>
      </tfoot>
    </table>

{% endblock %}