{% extends 'Finance/Finance_base.html' %}
{% load widget_tweaks %}

{% block title_block %}
  New Quote | Finance
{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
  <li class="breadcrumb-item"><a href="{% url 'Finance:home' %}">Finance</a></li>
  <li class="breadcrumb-item active" aria-current="page">New Quote</li>
{% endblock %}

{% block active2 %}active{% endblock %}

{% block body_block %}

  {% if price and symbol %}
    <h5>One share of {{ name }} ({{ symbol }}) is worth {{ price }}.</h5>
  {% endif %}


  <div class="form-group">
    <form class="form" method="post" id="quote-form">
      {% csrf_token %}
      {{ quote_form.as_p }}
      <input type="hidden" name="quote"/>
      <button id="quote-submit" type="submit" class="btn btn-primary"
              form="quote-form" name="get quote" value="Get Quote"
              ic-post-to="{% url 'Finance:ajax_price' %}"
              ic-trigger-on="click"
              ic-target="#quote-container">Get Quote
        <i class="ic-indicator fa fa-spinner fa-spin" style="display:none"></i>
      </button>
      <div id="quote-container"></div>
    </form>
  </div>

{% endblock %}
